.login{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(10, 10, 10);
}
.inputform{
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    align-items: center;
    justify-content: center;
}
.userform ,.passform{
    border-bottom: 1px solid rgb(72, 71, 71);
    background-color: transparent;
    padding-bottom: 3px;
}
#user,#pass{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    transition: all 0.3s ease;
    margin-left: 5px;
    letter-spacing: 2px;
}
#user::placeholder,#pass::placeholder{
    color: black;
    font-size: 16px;
}
body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr;
    height: 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/06/05/36/lake-1802337_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
navbar{
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 90px;
    background-color: rgba(49, 48, 48, 0.637);
    backdrop-filter: blur(5px);
}
.logo{
grid-column: 1/2;
grid-row: 1/2;
display: flex;
justify-content: center;
align-items: center;
}
#signIn{
    padding: 10px 15px;
    border-radius: 20px;
    color: whitesmoke;
background-color: rgb(21, 21, 21);
}
content{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginform{
    display: grid;
    grid-template-columns: 1/2;
    grid-template-rows: 100px 200px 20px;
    border-radius: 20px;
    border: 2px solid rgb(49, 49, 49);
    width: 350px;
    height: 350px;
    background-color: rgba(251, 247, 247, 0.388);
    backdrop-filter: blur(20px);
    box-shadow: 2px 5px 15px black;
    margin: 80px;
    margin-left: 450px;
}
.login{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(10, 10, 10);
}
.inputform{
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    align-items: center;
    justify-content: center;

}
.userform{
    border-bottom: 1px solid rgb(72, 71, 71);
    background-color: transparent;
    padding-bottom: 3px;
}
#user{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    transition: all 0.3s ease;
    margin-left: 5px;
    letter-spacing: 2px;
}
#user::placeholder{
    color: black;
    font-size: 16px;
}
.logo img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.navlist{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.mylist{
    display: flex;
    justify-content: flex-end;
    margin-right: 250px;
}
.list li{
    display: inline-flex;
    margin-right: 80px;
    list-style: none;
}
.list li a{
    font-size: 18px;
    color: whitesmoke;
    text-decoration: none;
}
#forgetText{
    color: rgb(20, 20, 20);
    font-size: 15px;
}
#loginBtn{
    background-color: rgb(19, 19, 19);
    color: whitesmoke;
    font-size: 16px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    margin-top: -10px;

}
#loginBtn:active{
    background-color: rgb(48, 47, 47);
}
.footer{
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
}
#signUp{
    color: rgb(250, 7, 221);
}